@import "src/assets/styles/variables";

.P-user-information-box {
  width      : 0;
  position   : fixed;
  right      : 0;
  transition : 0.6s;
  overflow   : hidden;
  top        : 180px;
  overflow-y : auto;
  max-height : 69vh;

  &.P-show-information {
    width : 70%;
  }
}

.P-slider-image {
  width         : 250px;
  height        : 200px;
  overflow      : hidden;
  border-radius : 10px;
}

.P-user-information-box {
  padding-right : 10px;

  .slick-dots {
    bottom          : -30px;
    z-index         : 9;
    display         : flex !important;
    justify-content : flex-start;

    button {
      color            : $red-bold !important;
      width            : 10px;
      height           : 10px;
      background-color : $white;
      opacity          : 0.6;
      border-radius    : 50%;

      &:before {
        display : none;
      }
    }

    li {
      &.slick-active {
        button {
          background-color : $red-bold;
        }
      }
    }
  }

  .slick-next {
    right : -15px;

    &:before {
      color : red;
    }
  }
}

.P-slider-box {
  padding-right : 15px;
}

.P-user-information {
  margin-top : 65px;

  h2 {
    font-size      : 28px;
    text-transform : uppercase;
    font-weight    : bold;
    color          : $red-bold;
  }

  p {
    color       : $white;
    font-size   : 18px;
    line-height : 1.4;
    margin-top  : 25px;
    width       : 80%;
  }
}

.P-user-projects-padding {
  padding : 15px;
  width   : 20vw;
  height  : 20vw;

  .P-projects-box {
    width           : 100%;
    height          : 100%;
    overflow        : hidden;
    border-radius   : 20px;
    padding         : 20px;
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;

    span, p {
      position : relative;
    }

    span {
      color : $white;
    }

    p {
      font-size : 14px;
    }

    &:before {
      position         : absolute;
      content          : '';
      width            : 100%;
      height           : 100%;
      background-color : $black-opacity-3;
      left             : 0;
      top              : 0;
    }
  }
}
