@import "src/assets/styles/variables";

.P-music-box-padding {
  width      : 25%;
  padding    : 25px;
  transition : 0.6s;
  opacity    : 1;
  visibility : visible;

  &.P-animation-box {
    &:nth-child(4n+1) {
      opacity    : 0;
      visibility : hidden;
      transform  : translate(-200px, 200px) !important;
    }

    &:nth-child(4n - 6) {
      opacity    : 0;
      visibility : hidden;
      transform  : translate(-300px, 300px) !important;
    }

    &:nth-child(4n - 5) {
      opacity    : 0;
      visibility : hidden;
      transform  : translate(300px, 300px) !important;
    }

    &:nth-child(4n - 4) {
      opacity    : 0;
      visibility : hidden;
      transform  : translate(300px, 200px) !important;
    }
  }

  &.P-selected-box {
    position : fixed;
  }

  .P-music-box {
    width  : 100%;
    cursor : pointer;

    &:hover {
      .P-music-box-image {
        transform : scale(1.1);
      }

      .P-image-overflow {
        &:before {
          opacity    : 1;
          visibility : visible;
          z-index    : 5;
        }
      }
    }
  }

  .P-music-box-image {
    width      : 100%;
    height     : 100%;
    transition : 0.3s;
  }
}

.P-image-overflow {
  overflow      : hidden;
  border-radius : 30px;
  width         : 19vw;
  height        : 19vw;
  position      : relative;

  &:before {
    position         : absolute;
    content          : '';
    width            : 100%;
    height           : 100%;
    background-color : $black-opacity-3;
    opacity          : 0;
    visibility       : hidden;
    transition       : 0.3s;
  }

}

.P-music-box-info-main {
  h3 {
    font-size      : 24px;
    text-transform : uppercase;
    color          : $red-bold;
    font-weight    : bold;
    margin-top     : 10px;
  }

  p {
    color : $white;
  }
}

.P-music-box-info-hidden {
  transition: 0.6s;
  opacity : 0;
  visibility: hidden;
  height: 0;

  &.P-shoe-info{
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  h3 {
    font-size  : 16px;
    color      : $white;
    margin-top : 5px;
  }

  h2 {
    margin         : 15px 0 25px 0;
    font-size      : 24px;
    color          : $red-bold;
    font-weight    : bold;
    text-transform : uppercase;
  }

  ul {
    display     : flex;
    align-items : center;

    li {
      padding       : 7px 15px;
      border-radius : 40px;
      border        : 1px dashed $white;
      color         : $white;
      margin-right  : 15px;
      cursor        : pointer;
      transition    : 0.3s;
    }
  }
}
