@import "../variables";

.G-container {
  width     : 100%;
  max-width : 100%;
  padding   : 0 3vw;
  margin    : 0 auto;
}

.G-header-block {
  padding : 15px;
}


*::-webkit-scrollbar {
  width : 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background : $app-color;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background : $white;
}

.G-image-cover {
  background-size     : cover;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-hidden{
  overflow: hidden;
}
