//  Color list

$black           : #000000;
$white           : #ffffff;
$app-color       : #1C2C59;
$white-opacity-5 : rgba(255, 255, 255, 0.5);
$black-opacity-3 : rgba(0, 0, 0, 0.3);
$red-bold        : #F03436;
