@import "src/assets/styles/variables";

.P-users-list {
  margin : 45px -25px;
}

.P-users-block {
  padding : 70px 0;
  overflow: hidden;
  position: relative;
}

.P-users-count {
  h3 {
    font-size      : 24px;
    color          : $red-bold;
    text-transform : uppercase;
    font-weight    : bold;
  }

  span {
    font-size      : 24px;
    color          : $red-bold;
    text-transform : uppercase;
    opacity        : 0.7;
    font-weight    : bold;
  }
}

.P-users-filter {
  ul {
    li {
      padding       : 7px 15px;
      border-radius : 40px;
      border        : 1px dashed $white;
      color         : $white;
      margin        : 0 15px;
      cursor        : pointer;
      transition    : 0.3s;

      &:hover, &.P-active-filter {
        color        : $red-bold;
        border-color : $red-bold;
      }

    }
  }
}

.P-fixed-position-box {
  position         : fixed;
  left             : 200px;
  top              : 200px;
  width            : 10px;
  height           : 10px;
  background-color : red;
  z-index: 5;
}
